* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: #282c34;
  color: white;
  padding: 10px;
  text-align: center;
}

ul {
  display: flex;
  justify-content: center;
  gap: 50px;
  list-style: none;
}

li {
  cursor: pointer;
}
