* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.home {
  padding-top: 150px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.loading {
  padding-top: 150px;
}

.payment-form {
  display: flex;
  flex-direction: column;
  font-size: 2rem;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
  input {
    width: 300px;
    height: 40px;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid #000;
    font-size: 2rem;
  }
}
