@tailwind base;
@tailwind components;
@tailwind utilities;

.hero-img {
  position: relative;
}

.hero-img::after {
  content: "";
  background: radial-gradient(
    circle,
    transparent 30%,
    rgba(255, 255, 255, 1) 70%
  );
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
